
.container {
  width:100% !important;
  min-height: 1000px;
}

#header {
  width:100%;
  height:120px;
  position:fixed;
  background:white;
  top:0;
  left:0;
  border-bottom: solid #ccc thin;
  z-index:10;
}

#header .row .col-md-2 {
  padding:10px;
}

#header .row .col-md-3 h3 span {
  font-size: .5em;
}

#header hr {
  border-top: solid #ccc thin;
  width:95%;
  margin-left:auto;
  margin-right:auto;
}

.cbp-spmenu h3 {
  background: #0F6C59;
  /*background: #1DD7B2;*/
  color:white;
}

.cbp-spmenu-vertical a {
  background: #1DD7B2;
}

.cbp-spmenu {
  background:#1DD7B2;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #0F6C59;
}

.cbp-spmenu-vertical-a:hover {
  background: #0F6C59;
}

.btn {
  border-radius: 0;
}

.items-wrapper {
  margin-top:120px;
  padding-top:50px;
}

.items-wrapper .row {
  padding-bottom:30px;
}

.item {
  cursor:pointer;
  text-align: center;
}

.item span {
  font-weight: bold;
}

.item img.selected {
  border: solid #A5F3E3 4px;
};

.item p {
  text-align: center;
}

/* Profile */

#form-section {
  padding:30px;
  margin-top:120px;
}

input[type=text], input[type=email] {
  width: 80%;
  text-align: center;
}

ul.fav-items {
  list-style-type: none;
  margin:0;
  padding:0;
}

.fav-item .item-name {
  padding-left:15px;
}