<!doctype html>

<html lang="en" ng-app="rainbow">
<head>
  <meta charset="utf-8">
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <script src="js/modernizr.custom.js"></script>

    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

<body ng-controller="ProfileCtrl" class="cbp-spmenu-push">

    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
      <h3>Cart</h3>
      <a href="#"
        ng-repeat="item in cart">{{ item.quantity}} {{ item.name }}(s) - ${{ getItemSubTotal(item) }}
        <span class="fui-cross" ng-click="removeItem(item)"></span>
      </a>

      <h3>${{ getCartTotal() }}</h3>
    </nav>

  <div style="height:500px; background:url(images/sunrise.jpg); background-size:cover;" class="jumbotron">

  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 style="">About</h3>
        <p>
          We are a community!  We employ members of the communities we operate in and engage the employees of the YMCAs, Boys & Girls Clubs, and churches we drop off at.
        </p>
        <hr>
        <h5>What we do</h5>
        <ol>
          <li>We bring fresh, locally-grown produce to families in food deserts</li>
          <li>Customers can purchase produce online or in-person and receive a walk through of our site from a staff member</li>
          <li>We accept a variety of payment options (EBT, debit, credit, cash)</li>
          <li>We provide recipes to educate users on how to use produce they may be unfamiliar with</li>
          <li>We partner with YMCAs, Boys & Girls Clubs, and churches to bring fun activities to community members</li>
        </ol>
        <hr>
        <h5>Why we do it</h5>
        <ol>
          <li>We believe families should be informed, engaged, and encouraged on their journeys’ to healthy living</li>
          <li>We believe that no matter where you live or how you’re paying, you should have access to fresh food, it’s the real deal! </li>
        </ol>
      </div>
    </div>


  </div>



  <script src="js/jquery-1.8.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="js/jquery.ui.touch-punch.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap-select.js"></script>
  <script src="js/bootstrap-switch.js"></script>
  <script src="js/flatui-checkbox.js"></script>
  <script src="js/flatui-radio.js"></script>
  <script src="js/jquery.tagsinput.js"></script>
  <script src="js/jquery.placeholder.js"></script>
  <script src="http://vjs.zencdn.net/4.3/video.js"></script>
  <!-- <script src="js/application.js"></script> -->
    <script src="js/classie.js"></script>
    <script>
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        menuRight = document.getElementById( 'cbp-spmenu-s2' ),
        menuTop = document.getElementById( 'cbp-spmenu-s3' ),
        menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
        showRight = document.getElementById( 'showRight' ),

        body = document.body;


      showRight.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRight' );
      };

      function disableOther( button ) {
        // if( button !== 'showLeft' ) {
        //   classie.toggle( showLeft, 'disabled' );
        // }
        if( button !== 'showRight' ) {
          classie.toggle( showRight, 'disabled' );
        }
        // if( button !== 'showTop' ) {
        //   classie.toggle( showTop, 'disabled' );
        // }
        // if( button !== 'showBottom' ) {
        //   classie.toggle( showBottom, 'disabled' );
        // }
        // if( button !== 'showLeftPush' ) {
        //   classie.toggle( showLeftPush, 'disabled' );
        // }
        // if( button !== 'showRightPush' ) {
        //   classie.toggle( showRightPush, 'disabled' );
        // }
      }
    </script>
  <script src="js/main.js"></script>
</body>
</html>