<!doctype html>

<html lang="en" ng-app="rainbow">
<head>
  <meta charset="utf-8">
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <script src="js/modernizr.custom.js"></script>

    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

<body ng-controller="MainCtrl" class="cbp-spmenu-push">

    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
      <h3>Cart</h3>
      <a href="#"
        ng-repeat="item in cart">{{ item.quantity}} {{ item.name }}(s) - ${{ getItemSubTotal(item) }}</a>

      <h3>${{ getCartTotal() }}</h3>
    </nav>


  <div class="container">

    <section id="header">
      <div class="row">
        <div class="col-md-2 col-md-offset-1">
          <img src="images/crystal.jpg" alt="">
        </div>

        <div class="col-md-3 col-md-offset-5">
          <h3>${{ leftInBudget() }} / <span>${{totalBudget}}</span></h3>
          <a id="showRight" href="#">
            <span class="shopping-cart icon-cart-4"></span>
          </a>
        </div>
      </div>
    </section>

    <section id="form-section">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <h3>{{currentUser.firstname}} {{currentUser.lastname}}</h3>
          <h5>{{currentUser.email}}</h5>
          <h5>{{currentUser.phone}}</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49740.1171501331!2d-77.09082345000003!3d38.81511349999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b64d3e93a4abf1%3A0xd7f52686dbc1012c!2sAlexandria%2C+VA!5e0!3m2!1sen!2sus!4v1394335942379" width="600" height="450" frameborder="0" style="border:0"></iframe>

          <ul class="fav-items">
            <li class="fav-item" ng-repeat="item in currentUser.favoriteItems">
              <span class="fui-heart"></span><span class="item-name">{{ item.name }}</span>
            </li>
          </ul>
        </div>
      </div>
    </section>


  </div>



  <script src="js/jquery-1.8.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="js/jquery.ui.touch-punch.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap-select.js"></script>
  <script src="js/bootstrap-switch.js"></script>
  <script src="js/flatui-checkbox.js"></script>
  <script src="js/flatui-radio.js"></script>
  <script src="js/jquery.tagsinput.js"></script>
  <script src="js/jquery.placeholder.js"></script>
  <script src="http://vjs.zencdn.net/4.3/video.js"></script>
  <!-- <script src="js/application.js"></script> -->
    <script src="js/classie.js"></script>
    <script>
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        menuRight = document.getElementById( 'cbp-spmenu-s2' ),
        menuTop = document.getElementById( 'cbp-spmenu-s3' ),
        menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
        showRight = document.getElementById( 'showRight' ),

        body = document.body;


      showRight.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRight' );
      };

      function disableOther( button ) {
        // if( button !== 'showLeft' ) {
        //   classie.toggle( showLeft, 'disabled' );
        // }
        if( button !== 'showRight' ) {
          classie.toggle( showRight, 'disabled' );
        }
        // if( button !== 'showTop' ) {
        //   classie.toggle( showTop, 'disabled' );
        // }
        // if( button !== 'showBottom' ) {
        //   classie.toggle( showBottom, 'disabled' );
        // }
        // if( button !== 'showLeftPush' ) {
        //   classie.toggle( showLeftPush, 'disabled' );
        // }
        // if( button !== 'showRightPush' ) {
        //   classie.toggle( showRightPush, 'disabled' );
        // }
      }
    </script>
  <script src="js/main.js"></script>
</body>
</html>